config/database.yml
log/*.log*
log/*.pid
log/restart.txt
tmp/**/*
tmp
bin/*
db/*.sqlite3
db/schema.rb
db/access_logs
*.swp
*.swo
*.swn
coverage
public/system
public/dgweb
public/assets
public/css
public/jscripts
Thumbs.db
scratch_directory
mkmf.log

# Other useful tidbit
.DS_Store
doc/api
doc/app
doc/plugins
coverage
*~

.bundle

rerun.txt

db/dumps/**/*

config/settings/locals.rb

# For sphinx.
db/sphinx/*
config/*.sphinx.conf
log/searchd.*.pid

config/initializers/rails_asset_id.rb
app/views/dgnetwork/logged_in_index.html_bak.erb
app/views/feeds/_feed_item_grouping.html_bak.erb
app/views/about_us/contact_us.html copy.erb
